html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.md-content p {
    margin-bottom: .75rem;
}

.md-content ul, .md-content ol {
    padding-left: 1.25rem;
    margin-bottom: .75rem;
}

.md-content h1, .md-content h2, .md-content h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.md-content a {
    text-decoration: underline;
    color: dodgerblue;
}

.md-content code {
    padding: .1rem .3rem;
    border-radius: .3rem;
    background: rgba(0,0,0,.06);
}

.md-content pre {
    padding: 1rem;
    border-radius: .75rem;
    background: rgba(0,0,0,.06);
    overflow: auto;
}
